terraform {
  backend "gcs" {
    bucket  = "your-gcs-bucket-name"
    prefix  = "terraform/state"
    credentials = "/var/lib/jenkins/gcp-credentials/your-service-account.json"  # Update this if using Jenkins
  }
}
